.title {
    text-align: center;
}
body {
    background-color: #7DDCF0;
}
h1 {
    color: white;
}


.jumbotron {
    background-color: black;
    color: white;

li a.active {
    background-color: lightblue;
    color: navy;
}

li a:hover:not(.active) {
    background-color: lightblue;

}