.title {
    text-align: center;
}
body {
    background-color: #7DDCF0;
}
h1 {
    color: white;
    font-family:'Indie Flower', cursive;
}
p {
    color: gray;
    font-family:'Indie Flower', cursive;
}
.jumbotron {
    background-color: black;
    color: white;
}

#contacth1 {
    color: purple;
    text-align: center;
    font-size:60px;
    font-family:'Indie Flower', cursive;
}
#address {
    font-size:30px;
    text-align: center;
}
footer {
    text-align: center;
}
span {
    color:black;
}